@import 'tailwindcss';

/* Safe-area 커스텀 유틸리티 등록 */
@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}
@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* 모바일 웹뷰 베이스 스타일 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f4f6;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}
